<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qtone.camerause">

    <!--硬件特性声明使用 USB-->
    <!--必须支持 USB Host 模式 (外接 UVC 摄像头所必需)-->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <!--硬件特性声明使用 CAMERA-->
    <!--required 设为 false (防止无内置摄像头的工业 Android 终端无法安装)-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--所有文件管理权限 (Android 11 / API 30+)-->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!--ocrsdk tools:replace="android:theme"-->
    <application
        android:name=".application.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraUse"
        tools:replace="android:theme">
        <activity android:name=".scancode.ScanCodeActivity" />
        <activity android:name=".capture.CaptureActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>