<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qtone.camerause">

    <!--硬件特性声明-->
    <!--支持 USB HOST-->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <!--硬件特性声明-->
    <!--支持 CAMERA-->
    <!--required 设为 false-->
    <!--不依赖内置摄像头-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!--相机权限-->
    <!--并非 UVC 必须-->
    <!--而是避免一些厂家系统限制-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--普通读权限-->
    <!--Android 12- (API 32-)-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!--普通写权限-->
    <!--Android 9- (API 28-)-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!--所有文件管理权限-->
    <!--Android 11+ (API 30+)-->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--tools:replace="android:theme"-->
    <!--ocrsdk-->

    <!--android:requestLegacyExternalStorage="true"-->
    <!--Android 10 过渡开关-->
    <!--用来临时关掉系统强制的分区存储限制-->
    <!--配置后可让 App 在 Android 10 上继续像旧版本一样直接通过普通文件路径读写外部存储中任意目录-->

    <application
        android:name=".application.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraUse"
        tools:replace="android:theme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>